#root {
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.App{
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

div.top-list-group{
	background-color:#292929;
}
.list-group-item-mydark{
  --bs-list-group-bg: #1e1e1e;
  --bs-list-group-color: #fff;
  --bs-list-group-border-color: #1e1e1e;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
.list-group-item-mydark:hover{
  --bs-list-group-color: #B500AF;
}
.paragraph{
	box-shadow: -4px 4px 12px 0px rgba(217, 0, 210, 0.486), -10px 5px 10px 0 rgba(74, 0, 71, 0.372);
	background-color: #212121;
  text-align: justify;
  padding:16px 32px;
}
.modal{
  --bs-modal-width:300px;
}
.modal .mb-3, .modal-body, input, .modal-footer, .modal-header .modal-dialog{
  --bs-modal-width:300px;
}
div.modal-dialog{
  --bs-modal-width:300px;
}
div.modal-footer{
  justify-content: center;
  --bs-modal-width:300px;
}
button.btn.btn-custom{
  --bs-btn-color: #fff;
  --bs-btn-bg:#B500AF;
  --bs-btn-border-color: #B500AF;
  --bs-btn-hover-color: #B500AF;
  --bs-btn-hover-bg:#000;
  --bs-btn-hover-border-color: #B500AF;
}
/*Table*/
table.table tbody tr{
	height: 18dvh;
	box-shadow: -4px 4px 12px 0px rgba(217, 0, 210, 0.486), -10px 5px 10px 0 rgba(74, 0, 71, 0.372);
	margin-bottom: 6px;

}

table.table tbody tr:hover{
	height: 18dvh;
	box-shadow: -4px 4px 20px 0px rgba(255, 2, 247, 0.678), -10px 10px 10px 0 rgba(140, 0, 135, 0.524);
	margin-bottom: 6px;

}

table.table{
	border-collapse: separate;
	border-spacing: 0 15px;
	text-align: center;
}

button.create-discussion.btn.btn-custom{
	margin-top: 10px;
	margin-right: 10px;
	text-align: none;
	float: left;
}
.action-btn{
	margin-right: 8px;
}
.comment-section{
	box-shadow: -4px 4px 12px 0px rgba(0, 90, 217, 0.486), -10px 5px 10px 0 rgba(0, 26, 74, 0.372);
	background-color: #1e1e1e;
}
.card.comment-card{
	--bs-card-bg: #2a2a2a;
	border-bottom: 2px solid #d600cf4e;
	border-left: 2px solid #d600cf4e;
	box-shadow: 0 4px 10px 0px #d300cc96;
	color:#FFFFFF;
}
.link-mydark{
	color:#B500AF;
	text-decoration: none;
}
.link-mydark:hover{
	color:#fff;
}

button.btn.btn-custom2{
	display: block;
	color: #fff;
	border-bottom: 2px solid #4a4a4a;
	border-right: 2px solid #515151;
	border-radius: 0px;
	border-bottom-right-radius: 20px;
}

button.btn.btn-custom2:hover{
	color: #B500AF;
}
.wrapper-body{
	margin-top: 100px;
}